.cardBackground{
    background: rgba(254, 254, 254, 0.277);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.612);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    max-width: 320px;
    width: 320px;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;

}


.cardImage{
    border-radius: 999px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
    width: 90%;
}

.cardBackground:hover .cardImage{
    border-radius: 10px;
    filter: grayscale(0);
}

.cardTitle{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px rgb(158, 0, 145);
    width:100%;
    text-align: center;
}

.cardText{
    width: 100%;
    text-align: center;
    color: #faB1ea ;
    font-size: 22px;
}

.cardBackground:hover{
     box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;;
}