.cardBackground{
    background-color: rgb(57, 0, 110);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 360px;
    height:450px;
}


.cardImage{
    border-radius: 999px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
    width: 90%;
}

.cardBackground:hover .cardImage{
    border-radius: 10px;
    filter: grayscale(0);
}

.cardTitle{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px rgb(158, 0, 145);
    width:100%;
    text-align: center;
}

.cardText{
    width: 100%;
    text-align: center;
    color: #faB1ea ;
    font-size: 22px;
}

.cardBackground:hover{
     box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;;
}