.title{
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: -2px 2px 8px white;
    text-align: center;
    color: rgb(182, 108, 231);
    margin-top: 1rem;
    width: 100%;
    padding: 5px;
}


.infoBtn{
    width:100%;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    color: aliceblue;
    background-color: rgba(240, 46, 170, 0.4) ;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 200ms ease-in-out;
};

infoBtn:hover{
cursor: pointer;
opacity: 1;
box-shadow:rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    width: 100%;
}

@media(width >= 768px){
    .title{
        font-size: 4rem;
    }
}