.title{
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: -2px 2px 8px white;
    text-align: center;
    color: rgb(182, 108, 231);
    margin-top: 1rem;
    width: 100%;
    padding: 5px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    width: 100%;
}

@media(width >= 768px){
    .title{
        font-size: 4rem;
    }
}