.title{
    font-size: 4rem;
    letter-spacing: 3px;
    text-shadow: -2px 2px 8px white;
    text-align: center;
    color: rgb(40, 131, 158);
    margin-top: 1rem;
    width: 100%;
}

@media(width <= 768px){
    .title{
        font-size: 3rem;
    }
}